<as-filter [roleInput]="'search'"
           [type]="'search'"
           [placeholder]="'Search'"
           [dataId]="'productSearch'"
           (text)="filterProduct($event)"></as-filter>

<div class="card p-4">

  <as-add-product (product)="addProduct($event)"></as-add-product>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Категория</th>
      <th scope="col">Цена</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      @for (product of products; track product; let inx = $index; ) {
        <tr>
          <th scope="row">{{ inx + 1 }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="btn btn-primary" (click)="addToCart(product)">В карту</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteProduct(product)">В карту</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

