<app-filter [roleInput]="'search'"
            [type]="'search'"
            [placeholder]="'Search'"
            (text)="filterProduct($event)"></app-filter>

<div class="card p-4">

  <app-add-product></app-add-product>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Категория</th>
      <th scope="col">Цена</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      @for (product of products; track product; let inx = $index; ) {
        <tr>
          <th scope="row">{{ inx + 1 }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="btn btn-success" (click)="addToCart(product)">Дабовить в карту</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

