<as-filter [roleInput]="'search'"
           [type]="'search'"
           [placeholder]="'Search'"
           [dataId]="'cartSearch'"
           (text)="filterCart($event)"></as-filter>

<ul class="list-group">
  <li class="list-group-item active" aria-current="true">Cart list of products</li>
  @for (cart of carts; track cart) {
    <li class="list-group-item list d-flex justify-content-between">
      {{ cart.name }}
      <span>{{ cart.price | currency: 'USD' }}</span>
      <button class="btn btn-danger" (click)="deleteFromCart(cart)">D</button>
    </li>
  }
  @if (carts.length) {
    <li class="list-group-item active" aria-current="true">
      Total price: <span>{{ totalPrice | currency: 'USD' }}</span>
    </li>
  }
</ul>
